*{
  margin: 0;
  box-sizing: border-box;
}

/* 
===========================================
            Header
============================================
*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);

}

.header--logo{
  display: flex;
  align-items: center;
}

.header--logo > img{
  width: 40px;
}
.header--logo> span{
  font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 20.7482px;
line-height: 24px;
letter-spacing: -0.1em;
margin-left: 15px;

color: #FFFFFF;
}

.header >p{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 15px;
text-align: right;

color: #FFFFFF;
}

/* 
===========================================
            Meme
============================================
*/
.form{
  width: 90%;
  margin: 0 auto;
}

.form--inputs{
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 15px;
}
.form--inputs input{
  display: block;
  width: 49%;
  height: 35px;
}

.form--submit{
  width: 100%;
  height: 40px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
border-radius: 5px;
border-width: 0px;
margin-bottom: 35px;

font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: -0.1em;

color: #FFFFFF;
cursor: pointer;
}

.memeImage{
  display: block;
  margin: 0 auto;
  max-width: 90%;
  padding-bottom: 50px;
}